<h1>Remerciements</h1>

<p>Je tenais à créer cette page pour vous remercier de ce que vous faîtes pour moi. Grâce à vous, je commence à maîtriser Ruby on Rails alors que ce langage m'était totalement inconnu il y a encore quelques jours et ce n'est que le début... MERCI ! </p>

<p><a href="/Stage">Retour à la page initiale</a></p>
